/*page style*/
body {
    background-color:black;
    font-family: arial;
    color: white;
    }

.maindiv{
    background-color: white;
    color: black;
    /*width: 300px;*/
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    align: center;  
}

h1{
    color:grey;
    font-family:verdana
    }

.center {
    /*center the page*/
  margin-left: auto;
  margin-right: auto;  
}

tr, td {
    /*formating the table so the content looks better*/
    padding: 5px;
}



